<<<<<<< HEAD
.secao{
    display: flex;
    flex-flow: column;
}

.container{
    display: flex;
    
=======
.secao {
    display: flex;
    flex-flow: column;
    padding: 6.1rem 2rem;
    
  }
  

.container{
    display: flex;
    max-width: 100rem;
    margin: auto;
>>>>>>> 2f144f59dfcf7b8b482fd09d0d5434be01e93591
}