<<<<<<< HEAD
body{
  font-family: "Monserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $cor-preta;

}
=======
@use '../abstracts/helpers' as *;


body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $cor-preta;
}

b, strong{
  font-weight: 600;
}
>>>>>>> 2f144f59dfcf7b8b482fd09d0d5434be01e93591


.titulo {
   @extend %titulo;
   font-weight: 500;

   & span {
    color: $cor-azul-claro;
    font-weight: 600;
   }
}